<ul class="FreestyleMenu">
  {{#if this.includeAllOption}}
    <li class="FreestyleMenu-item">
      <LinkTo @query={{hash s=null ss=null f=null}} class="FreestyleMenu-itemLink">
        All
      </LinkTo>
    </li>
  {{/if}}
  {{#each this.menu as |section|}}
    <li class="FreestyleMenu-item">
      <LinkTo @query={{hash f=null s=section.name ss=null}} class="FreestyleMenu-itemLink">
        {{section.name}}
      </LinkTo>
      {{#if section.subsections.length}}
        <ul class="FreestyleMenu-submenu">
          {{#each section.subsections as |subsection|}}
            <li class="FreestyleMenu-submenuItem">
              <LinkTo @query={{hash f=null s=section.name ss=subsection.name}} class="FreestyleMenu-submenuItemLink">
                {{subsection.name}}
              </LinkTo>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </li>
  {{/each}}
</ul>
