<ul class="FreestyleMenu">
  <li class="FreestyleMenu-search">
    <input
      type="text"
      class="FreestyleMenu-searchInput"
      placeholder="Filter components..."
      aria-label="Filter components"
      role="searchbox"
      value={{this.filterText}}
      {{on "input" this.onFilterInput}}
      {{on "keydown" this.handleKeydown}}
      aria-activedescendant={{this.activeDescendantId}}
    />
  </li>
  {{#if this.includeAllOption}}
    <li class="FreestyleMenu-item">
      <LinkTo @query={{hash s=null ss=null f=null}} class="FreestyleMenu-itemLink" {{on "click" this.expandAllSections}}>
        All
      </LinkTo>
    </li>
  {{/if}}
  {{#each this.filteredMenu as |entry|}}
    <li class="FreestyleMenu-item">
      <div class="FreestyleMenu-itemHeader">
        <LinkTo @query={{hash f=null s=entry.section.name ss=null}} class="FreestyleMenu-itemLink" {{on "click" (fn this.expandSection entry.section.name)}}>
          {{#if entry.subsections.length}}
            <span class="FreestyleMenu-chevron {{if entry.isExpanded 'is-expanded'}}"></span>
          {{/if}}
          {{entry.section.name}}
        </LinkTo>
        {{#if entry.subsections.length}}
          <button
            type="button"
            class="FreestyleMenu-collapseToggle"
            {{on "click" (fn this.toggleSection entry.section.name)}}
            aria-label="Toggle {{entry.section.name}}"
          ></button>
        {{/if}}
      </div>
      {{#if (and entry.subsections.length entry.isExpanded)}}
        <ul class="FreestyleMenu-submenu" role="listbox">
          {{#each entry.subsections as |subsection|}}
            <li
              class="FreestyleMenu-submenuItem {{if subsection.isHighlighted 'is-highlighted'}}"
              id="freestyle-menu-item-{{subsection.flatIndex}}"
              role="option"
              aria-selected="{{if subsection.isHighlighted 'true' 'false'}}"
            >
              <LinkTo @query={{hash f=null s=entry.section.name ss=subsection.name}} class="FreestyleMenu-submenuItemLink">
                {{subsection.name}}
              </LinkTo>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </li>
  {{/each}}
</ul>
