{{#if @options}}
  <select {{on 'change' this.callOnInput}}>
    {{#each @options as |optionValue|}}
      <option value={{optionValue}} selected={{eq optionValue @value}}>{{optionValue}}</option>
    {{/each}}
  </select>
{{else}}
  <input
    type="text"
    value={{@value}}
    {{on this.inputEvent this.callOnInput}}
  />
{{/if}}