<Freestyle::Usage::Argument
  @type="String"
  @name={{@name}}
  @description={{@description}}
  @required={{@required}}
  @array={{@array}}
  @defaultValue={{@defaultValue}}
>
  {{#if @options}}
    <select {{on 'change' this.onInput}}>
      {{#each @options as |optionValue|}}
        <option value={{optionValue}} selected={{eq optionValue @value}}>{{optionValue}}</option>
      {{/each}}
    </select>
  {{else}}
    <input
      type="text"
      value={{@value}}
      {{on 'input' this.onInput}}
    />
  {{/if}}
</Freestyle::Usage::Argument>