<div class="x-Bar
            x-Bar--{{@size}}
            {{unless @showBorder 'x-Bar--hide-border'}}
            {{unless @isVisible 'x-Bar--hidden'}}
            {{if @isTasteful 'x-Bar--tasteful'}}">
  <div class="x-Bar-title">
    {{@title}}
    <div class="x-Bar-rank">{{@rank}}</div>
  </div>
  <p>{{@description}}</p>
  <div class="x-Bar-description" style={{this.innerBorderThicknessStyle}}>
    {{yield}}
  </div>
</div>
