<div class="x-Bar
            {{unless showBorder 'x-Bar--hide-border'}}
            {{unless isVisible 'x-Bar--hidden'}}
            {{if isTasteful 'x-Bar--tasteful'}}">
  <div class="x-Bar-title">{{title}}</div>
  <p>{{description}}</p>
  <div class="x-Bar-description">
    Stuff
  </div>
</div>
