{{#if title}}
  <div class="FreestyleSnippet-title">
    {{title}}
  </div>
{{/if}}
{{#if source}}
  {{#if (eq language 'markdown') }}
    {{md-text text=source class="FreestyleNotes-content"}}    
  {{else}}
    <pre class={{language}}>{{source}}</pre>
  {{/if}}
{{/if}}
