<div class="FreestyleUsageControls">
  <div class="FreestyleUsageControls-control {{if showLabels 'FreestyleUsageControls-control--active'}}">
    <a class="FreestyleUsageControls-cta {{if showLabels 'FreestyleUsageControls-cta--active'}}" title="Show Labels" onclick={{action 'toggleUsage' 'labels'}}>
      {{fa-icon 'ellipsis-h'}}
    </a>
  </div>
  <div class="FreestyleUsageControls-control {{if showNotes 'FreestyleUsageControls-control--active'}}">
    <a class="FreestyleUsageControls-cta {{if showNotes 'FreestyleUsageControls-cta--active'}}" title="Show Notes" onclick={{action 'toggleUsage' 'notes'}}>
      {{fa-icon 'comment'}}
    </a>
  </div>
  <div class="FreestyleUsageControls-control {{if showCode 'FreestyleUsageControls-control--active'}}">
    <a class="FreestyleUsageControls-cta {{if showCode 'FreestyleUsageControls-cta--active'}}" title="Show Code" onclick={{action 'toggleUsage' 'code'}}>
      {{fa-icon 'code'}}
    </a>
  </div>
</div>
