<div class="FreestyleUsage-title">
  {{@title}}
</div>

{{#if (has-block "example")}}
  {{yield to="example"}}
{{else}}
  {{yield}}
{{/if}}

{{#if @source}}
  <div class="FreestyleUsage-sourceContainer">
    <FreestyleSource @source={{@source}} @isDynamic={{false}} @title="Source" />
  </div>
{{/if}}

{{#if (has-block "note")}}
  {{yield to="note"}}
{{else}}
  No note here!
{{/if}}
