<FreestyleGuide @title="Ember Freestyle" @subtitle="Living Style Guide" @highlightJsTheme="solarized-light">

  <FreestyleSection @name="Albums" as |Section|>
    <Section.subsection @name="Album Cover">
      <FreestyleUsage @slug="album-cover" @title="Album Cover Example">
        <AlbumCover
          @artist="The Beatles"
          @title="Yellow Submarine"
          @coverImageSrc="https://upload.wikimedia.org/wikipedia/en/b/bb/Yellow_submarine_songtrack.jpg"
        />
      </FreestyleUsage>
      {{!-- BEGIN-SNIPPET ember-code-snippet-example --}}
      <FreestyleAnnotation @slug="album-cover">
        <h4>Styles for this component:</h4>
        {{#let (get-code-snippet "album-cover-styles.scss") as |snippet|}}
          <pre {{freestyle-highlight}} class="{{snippet.language}} u-outdent">{{snippet.source}}</pre>
        {{/let}}
      </FreestyleAnnotation>
      {{!-- END-SNIPPET --}}
      {{!-- BEGIN-SNIPPET markdown-example-usage --}}
      <FreestyleAnnotation @slug="album-cover">
        <MarkdownContent>
          ## Album Review

          I really love this album. Ringo at his finest. Here are things I like about it:

          - Submarines
          - Psychadelica
          - The color yellow
        </MarkdownContent>
      </FreestyleAnnotation>
      {{!-- END-SNIPPET --}}
    </Section.subsection>
  </FreestyleSection>

  <FreestyleSection @name="Foo Things" as |Section|>

    <Section.subsection @name="Foo Subsection A">
      <FreestyleCollection @title="Foo Collection" @defaultKey="normal" @inline={{true}} as |collection|>

        <collection.variant @key="normal">
          <FreestyleAnnotation @slug="foo-normal">
            <h4>A Note About Normal</h4>
            <p>
              This comment is coming from a freestyle-annotation component. Use the freestyle-annotation
              component to write notes in html.
            </p>
          </FreestyleAnnotation>

          <FreestyleUsage @slug="foo-normal" @title="Normal" @usageTitle="Usage" @hbsTitle="Template">
            <XFoo @status="normal" />
          </FreestyleUsage>
        </collection.variant>

        <collection.variant @key="special">
          <FreestyleUsage @slug="foo-special" @title="Special">
            <XFoo @status="special" />
          </FreestyleUsage>
        </collection.variant>

        <collection.variant @key="hyper">
          <FreestyleUsage @slug="foo-hyper" @title="Hyper">
            <XFoo @status="hyper" />
          </FreestyleUsage>
        </collection.variant>

        <collection.variant @key="classic">
          <FreestyleUsage @slug="foo-classic" @title="Classic">
            <XFoo @status="classic" />
          </FreestyleUsage>
        </collection.variant>

        <collection.variant @key="elegant">
          <FreestyleUsage @slug="foo-elegant" @title="Elegant">
            <XFoo @status="elegant" />
          </FreestyleUsage>
        </collection.variant>

        <collection.variant @key="tasteful">
          <FreestyleUsage @slug="foo-tasteful" @title="Tasteful">
            <XFoo @status="tasteful" />
          </FreestyleUsage>
        </collection.variant>

      </FreestyleCollection>
    </Section.subsection>

    <Section.subsection @name="Foo Subsection B">
      <FreestyleAnnotation>
        This is an annotation in a subsection, mainly to facilitate testing.
      </FreestyleAnnotation>
    </Section.subsection>

  </FreestyleSection>

  <FreestyleSection @name="Dynamic Properties">
    <FreestyleDynamic
      @slug='dynamic-properties'
      @dynamicProperties={{this.dynamicProperties}}
      @title='Dynamic Properties'
      @componentName='x-bar'
      as |dynamic|
    >
      <XBar @title="Just a static title" @size={{dynamic.size}} @showBorder={{true}} @rank={{dynamic.rank}} @isVisible={{dynamic.isVisible}} @isTasteful={{dynamic.isTasteful}} @innerBorderThickness={{dynamic.innerBorderThickness}}>

        <p>{{dynamic.blockContent}}</p>
        <p>Static block content</p>
        <p>
          Reference another dynamic prop in block:
          is tasteful: {{dynamic.isTasteful}}
        </p>
      </XBar>
    </FreestyleDynamic>
  </FreestyleSection>

  <FreestyleSection @name="Visual Style" as |Section|>

    <Section.subsection @name="Typography">

      <FreestyleUsage @slug="typography-times" @title="Times New Roman">
        <FreestyleTypeface @fontFamily="Times New Roman" />
      </FreestyleUsage>

      <FreestyleUsage @slug="typography-helvetica" @title="Helvetica">
        <FreestyleTypeface @fontFamily="Helvetica" />
      </FreestyleUsage>

    </Section.subsection>

    <Section.subsection @name="Color">

      <FreestyleUsage @slug="fp" @title="Freestyle Palette">
        <FreestylePalette
          @colorPalette={{this.colorPalette}}
          @title="Dummy App Color Palette"
          @description="This component displays the color palette specified in freestyle/palette.json"
        />
      </FreestyleUsage>

      <FreestyleUsage @slug="fpi"
        @title="Freestyle Palette Item"
        @usageTitle="Template - application.hbs"
        @jsTitle="Controller - application.js"
        @scssTitle="SCSS - freestyle-palette-item.scss"
      >
        <FreestylePaletteItem @color={{this.color}} />
      </FreestyleUsage>

    </Section.subsection>

  </FreestyleSection>

</FreestyleGuide>
