{{#freestyle-guide
    title="Ember Freestyle"
    subtitle="Living Style Guide"
    highlightJsTheme="solarized-light"
}}

  {{#freestyle-section name="Foo Things" as |section|}}

    {{foo-docs section=section}}

  {{/freestyle-section}}

  {{#freestyle-section name='Dynamic Properties' as |section|}}
    {{#freestyle-dynamic 'dynamic-properties'
      dynamicProperties=dynamicProperties
      title='Dynamic Properties'
      componentName='x-bar'
      as |dynamic|
    }}
      {{#x-bar
        title='Just a static title'
        size=dynamic.size
        showBorder=true
        rank=dynamic.rank
        isVisible=dynamic.isVisible
        isTasteful=dynamic.isTasteful
        innerBorderThickness=dynamic.innerBorderThickness
      }}

        <p>{{dynamic.blockContent}}</p>
        <p>Static block content</p>
        <p>
          Reference another dynamic prop in block:
          is tasteful: {{dynamic.isTasteful}}
        </p>
      {{/x-bar}}
    {{/freestyle-dynamic}}
  {{/freestyle-section}}

  {{#freestyle-section name="Visual Style" as |section|}}

    {{#section.subsection name="Typography"}}

      {{#freestyle-usage "typography-times" title="Times New Roman"}}
        {{freestyle-typeface fontFamily="Times New Roman"}}
      {{/freestyle-usage}}

      {{#freestyle-usage "typography-helvetica" title="Helvetica"}}
        {{freestyle-typeface fontFamily="Helvetica"}}
      {{/freestyle-usage}}

    {{/section.subsection}}

    {{#section.subsection name="Color"}}

      {{#freestyle-usage "fp" title="Freestyle Palette"}}
        {{freestyle-palette
            colorPalette=colorPalette
            title="Dummy App Color Palette"
            description="This component displays the color palette specified in freestyle/palette.json"
        }}
      {{/freestyle-usage}}

      {{#freestyle-usage "fpi"
          title="Freestyle Palette Item"
          usageTitle="Template - application.hbs"
          jsTitle="Controller - application.js"
          scssTitle="SCSS - freestyle-palette-item.scss"
      }}
        {{freestyle-palette-item color=color}}
      {{/freestyle-usage}}

    {{/section.subsection}}

  {{/freestyle-section}}

{{/freestyle-guide}}
