{{#freestyle-guide
    title="Ember Freestyle"
    subtitle="Living Style Guide"
    highlightJsTheme="solarized-light"
}}

  {{#freestyle-section name="Foo Things" as |section|}}

    {{#section.subsection name="Foo Subsection A"}}
      {{#freestyle-collection title="Foo Collection" defaultKey="normal" inline=true as |collection|}}

        {{#collection.variant key="normal"}}
          {{#freestyle-annotation "foo-normal"}}
            <h4>A Note About Normal</h4>
            <p>
              This comment is coming from a freestyle-annotation component. Use the freestyle-annotation
              component to write notes in html.
            </p>
          {{/freestyle-annotation}}
          {{#freestyle-note "foo-normal--notes"}}
            #### Another Note About Normal

            This comment is coming from a `freestyle-note` component. Use the `freestyle-note` component
            to write notes in markdown.

            ##### Markdown Code Snippet

            ```javascript
            // We can include code blocks using markdown
            function do(something) {
              console.log(`Doing ${something}`);
            }
            ```

            | prop | type   | info |
            | ---- | ------ | ---- |
            | `a`  | string | xxxx |
            | `b`  | string | xxxx |
            | `c`  | string | xxxx |
          {{/freestyle-note}}
          {{#freestyle-usage "foo-normal" title="Normal" usageTitle="Usage" hbsTitle="Template"}}
            {{x-foo status="normal"}}
          {{/freestyle-usage}}
        {{/collection.variant}}

        {{#collection.variant key="special"}}
          {{#freestyle-usage "foo-special" title="Special"}}
            {{x-foo status="special"}}
          {{/freestyle-usage}}
        {{/collection.variant}}

        {{#collection.variant key="hyper"}}
          {{#freestyle-usage "foo-hyper" title="Hyper"}}
            {{x-foo status="hyper"}}
          {{/freestyle-usage}}
        {{/collection.variant}}

        {{#collection.variant key="classic"}}
          {{#freestyle-usage "foo-classic" title="Classic"}}
            {{x-foo status="classic"}}
          {{/freestyle-usage}}
        {{/collection.variant}}

        {{#collection.variant key="elegant"}}
          {{#freestyle-usage "foo-elegant" title="Elegant"}}
            {{x-foo status="elegant"}}
          {{/freestyle-usage}}
        {{/collection.variant}}

        {{#collection.variant key="tasteful"}}
          {{#freestyle-usage "foo-tasteful" title="Tasteful"}}
            {{x-foo status="tasteful"}}
          {{/freestyle-usage}}
        {{/collection.variant}}

      {{/freestyle-collection}}
    {{/section.subsection}}

    {{#section.subsection name="Foo Subsection B"}}
      {{#freestyle-annotation}}
        This is an annotation in a subsection, mainly to facilitate testing.
      {{/freestyle-annotation}}
    {{/section.subsection}}

  {{/freestyle-section}}

  {{#freestyle-section name='Dynamic Properties' as |section|}}
    {{#freestyle-dynamic 'dynamic-properties'
      dynamicProperties=dynamicProperties
      title='Dynamic Properties'
      componentName='x-bar'
      as |dynamic|
    }}
      {{#x-bar
        title='Just a static title'
        size=dynamic.size
        showBorder=true
        rank=dynamic.rank
        isVisible=dynamic.isVisible
        isTasteful=dynamic.isTasteful
        innerBorderThickness=dynamic.innerBorderThickness
      }}

        <p>{{dynamic.blockContent}}</p>
        <p>Static block content</p>
        <p>
          Reference another dynamic prop in block:
          is tasteful: {{dynamic.isTasteful}}
        </p>
      {{/x-bar}}
    {{/freestyle-dynamic}}
  {{/freestyle-section}}

  {{#freestyle-section name="Visual Style" as |section|}}

    {{#section.subsection name="Typography"}}

      {{#freestyle-usage "typography-times" title="Times New Roman"}}
        {{freestyle-typeface fontFamily="Times New Roman"}}
      {{/freestyle-usage}}

      {{#freestyle-usage "typography-helvetica" title="Helvetica"}}
        {{freestyle-typeface fontFamily="Helvetica"}}
      {{/freestyle-usage}}

    {{/section.subsection}}

    {{#section.subsection name="Color"}}

      {{#freestyle-usage "fp" title="Freestyle Palette"}}
        {{freestyle-palette
            colorPalette=colorPalette
            title="Dummy App Color Palette"
            description="This component displays the color palette specified in freestyle/palette.json"
        }}
      {{/freestyle-usage}}

      {{#freestyle-usage "fpi"
          title="Freestyle Palette Item"
          usageTitle="Template - application.hbs"
          jsTitle="Controller - application.js"
          scssTitle="SCSS - freestyle-palette-item.scss"
      }}
        {{freestyle-palette-item color=color}}
      {{/freestyle-usage}}

    {{/section.subsection}}

  {{/freestyle-section}}

{{/freestyle-guide}}
