{{#freestyle-guide
    title='Ember Freestyle'
    subtitle='Living Style Guide'
}}

  {{#freestyle-section name='Foo Things' as |section|}}

    {{#freestyle-subsection name='Foo Subsection A' section=section}}
      {{#freestyle-collection title='Foo Collection' defaultKey='normal' inline=true as |collection|}}

        {{#freestyle-variant collection=collection key='normal'}}
          {{#freestyle-note 'foo-normal:notes'}}
  #### Another Note About Normal

  This comment is coming from a `freestyle-note` component. Use the `freestyle-note` component
  to write notes in markdown.

  ###### Markdown Code Snippet

  ```javascript
  // We can include code blocks using markdown
  function do(something) {
    console.log(`Doing ${something}`);
  }
  ```
          {{/freestyle-note}}
          {{#freestyle-annotation 'foo-normal'}}
            <h4>A Note About Normal</h4>
            <p>
              This comment is coming from a freestyle-annotation component. Use the freestyle-annotation
              component to write notes in html.
            </p>
          {{/freestyle-annotation}}
          {{#freestyle-usage 'foo-normal' title='Normal' usageTitle='Usage' hbsTitle='Template'}}
            {{x-foo status='normal'}}
          {{/freestyle-usage}}
        {{/freestyle-variant}}

        {{#freestyle-variant collection=collection key='special'}}
          {{#freestyle-usage 'foo-special' title='Special'}}
            {{x-foo status='special'}}
          {{/freestyle-usage}}
        {{/freestyle-variant}}

        {{#freestyle-variant collection=collection key='hyper'}}
          {{#freestyle-usage 'foo-hyper' title='Hyper'}}
            {{x-foo status='hyper'}}
          {{/freestyle-usage}}
        {{/freestyle-variant}}

        {{#freestyle-variant collection=collection key='classic'}}
          {{#freestyle-usage 'foo-classic' title='Classic'}}
            {{x-foo status='classic'}}
          {{/freestyle-usage}}
        {{/freestyle-variant}}

        {{#freestyle-variant collection=collection key='elegant'}}
          {{#freestyle-usage 'foo-elegant' title='Elegant'}}
            {{x-foo status='elegant'}}
          {{/freestyle-usage}}
        {{/freestyle-variant}}

        {{#freestyle-variant collection=collection key='tasteful'}}
          {{#freestyle-usage 'foo-tasteful' title='Tasteful'}}
            {{x-foo status='tasteful'}}
          {{/freestyle-usage}}
        {{/freestyle-variant}}

      {{/freestyle-collection}}
    {{/freestyle-subsection}}

    {{#freestyle-subsection name='Foo Subsection B' section=section}}
      {{#freestyle-annotation}}
        This is an annotation in a subsection, mainly to facilitate testing.
      {{/freestyle-annotation}}
    {{/freestyle-subsection}}

  {{/freestyle-section}}

  {{#freestyle-section name='Visual Style' as |section|}}

    {{#freestyle-subsection name='Typography' section=section}}

      {{#freestyle-usage 'typography-times' title='Times New Roman'}}
        {{freestyle-typeface fontFamily='Times New Roman'}}
      {{/freestyle-usage}}

      {{#freestyle-usage 'typography-helvetica' title='Helvetica'}}
        {{freestyle-typeface fontFamily='Helvetica'}}
      {{/freestyle-usage}}

    {{/freestyle-subsection}}

    {{#freestyle-subsection name='Color' section=section}}

      {{#freestyle-usage 'fp' title='Freestyle Palette'}}
        {{freestyle-palette
            colorPalette=colorPalette
            title='Dummy App Color Palette'
            description='This component displays the color palette specified in freestyle/palette.json'
        }}
      {{/freestyle-usage}}

      {{#freestyle-usage 'fpi'
          title="Freestyle Palette Item"
          usageTitle="Template - application.hbs"
          jsTitle="Controller - application.js"
          scssTitle="SCSS - freestyle-palette-item.scss"
      }}
        {{freestyle-palette-item color=color}}
      {{/freestyle-usage}}

    {{/freestyle-subsection}}

  {{/freestyle-section}}

{{/freestyle-guide}}
