<div class="FreestyleUsage {{if @inline 'FreestyleUsage--inline'}}">
  {{#if this.show}}
    {{#if this.hasLabels}}
      <div class="FreestyleUsage-title">
        {{@title}}
        <FreestyleFocusButton {{on 'click' this.setFocus}} class="FreestyleUsage-focusCta" />
      </div>
    {{/if}}
    <div class="FreestyleUsage-rendered">
      {{yield}}
    </div>

    {{#if this.hasCode}}
      <div class="FreestyleUsage-usage">
        {{#if @source}}
          <div class="FreestyleUsage-sourceContainer">
            <FreestyleSource @source={{@source}} @isDynamic={{@isDynamic}} @dynamicProperties={{this.dynamicProperties}} @title="Source" />
          </div>
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
</div>